---
layout: default
--- 
  <h1>{{ page.title }}</h1>
   
  <div class="entry">
    {{ content }}
  </div>

  <article class="post">
  <div class="post-categories">
    {% if post %}
      {% assign categories = post.categories %}
    {% else %}
      {% assign categories = page.categories %}
    {% endif %}
    <p><span style="font-weight:bold">Categories:</span>
      {% for category in categories %}
      <a href="{{site.baseurl}}/archive/#
              {{category|slugize}}">{{category}}</a>
      {% unless forloop.last %},&nbsp;{% endunless %}
      {% endfor %}
    </p>
  </div>

  <div class="date">
    Written on {{ page.date | date: "%B %e, %Y" }}; Author: Michael Legere
    {% include share-bar.html %}
  </div>

  {% include disqus.html %}
</article>
